.switch {
  /* variables */
  --switchHeight: 0.625em;
  position: relative;
  width: 1.875rem;
  height: var(--switchHeight);
  margin: auto 0;
  margin-left: 1.25rem;
  user-select: none;
}

.switchCheckbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.switchLabel {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: var(--switchHeight);
  padding: 0;
  line-height: var(--switchHeight);
  border-radius: 0.625rem;
  background-color: #9f5b50;
}

.switchLabel:before {
  content: "";
  display: block;
  width: 1.125rem;
  margin: -0.25rem;
  background: #d77f71;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1.25rem;
  border-radius: 1.875rem;
}

.switchCheckbox:checked + .switchLabel {
  background-color: #6c9f50;
}

.switchCheckbox:checked + .switchLabel .switchInner {
  margin-left: 0;
}

.switchCheckbox:checked + .switchLabel:before {
  right: 0px;
  background-color: #96d771;
}

.switchCheckbox:focus-visible + .switchLabel:before,
.switchCheckbox:hover + .switchLabel:before {
  box-shadow: 0 0 0 0.375rem rgba(30, 30, 30, 0.2);
  transition: ease-in 0.1s;
}

.switchCheckbox:active + .switchLabel:before {
  transition-delay: 50ms;
  box-shadow: 0 0 0.375rem 0.375rem rgba(30, 30, 30, 0.2);
}

.button {
  font-size: 0.8em;
  border-style: none;
  min-width: 5em;
  min-height: 2.3em;
  margin: 0 0.5em;
  border-radius: 0.2em;
  color: black;
}

.buttonAvailable {
  --primary-color-dark: #252b25;
  --secondary-color-dark: #63340e;
  background-color: #da7422;
  cursor: pointer;
}
.buttonAvailable:hover {
  box-shadow: -3px 6px 6px var(--primary-color-dark);
}
.buttonAvailable:active {
  box-shadow: inset 0 0 2px 1px var(--secondary-color-dark);
}

.buttonUnavailable {
  background-color: grey;
  pointer-events: none;
  cursor: default;
}

.btnNoStyle {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#main {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 9.3em auto 1fr;
  margin: 0 auto;
  padding: 0 5px;
  max-width: 38em;
  min-height: calc(100vh - 2em);
}

#mainHead {
  grid-column: 1/span 2;
  width: 100%;
}

#clicksCurrent {
  border: 3px solid #e6e6e6;
  width: 11em;
  white-space: nowrap;
  padding: 0.25em;
  overflow: hidden;
}

#openSettingBtn {
  margin: auto;
  margin-left: 10px;
  display: block;
  transition: 0.2s;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  filter: invert(99%) sepia(0%) saturate(6441%) hue-rotate(244deg) brightness(120%) contrast(80%);
}
#openSettingBtn:hover {
  transform: rotate(0.1turn);
}
#openSettingBtn:focus-visible {
  outline: auto;
}

#settingsBackground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

#settingsMenu {
  display: flex;
  flex-direction: column;
  color: #30362f;
  background-color: #fffbdb;
  margin: 10vh auto;
  padding: 20px;
  max-width: 19em;
  min-height: 20em;
  max-height: 80%;
}

#settingsHead {
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px dotted #252b25;
  font-family: "Arial", sans-serif;
}

#closeSettings {
  position: relative;
  top: -20px;
  right: -20px;
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
  font-family: "Arial Narrow", sans-serif;
}
#closeSettings:hover {
  background-color: rgba(255, 151, 132, 0.808);
}
#closeSettings:focus {
  background-color: rgba(255, 151, 132, 0.808);
  outline: auto;
}

#settingsContent {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.settingsOption {
  font-size: 1.3em;
}
.settingsOption > .button {
  font-size: 0.7rem;
  min-width: 3rem;
  min-height: 1.5rem;
}

#deleteSaveBtn {
  align-self: flex-end;
  width: 6.5rem;
  height: 3.5em;
  display: block;
  margin: auto;
  background-color: transparent;
  border: solid #252b25;
  font-size: 0.8rem;
}
#deleteSaveBtn:hover, #deleteSaveBtn:focus-visible {
  background-color: #252b25;
  color: #e6e6e6;
}

#storeContainer {
  min-height: 22em;
  overflow: hidden;
}

#storeMenu {
  display: flex;
  justify-content: flex-start;
}
#storeMenu > button {
  margin: 2px;
  font-size: 0.8em;
  border-style: none;
  min-width: 5em;
  min-height: 2.3em;
  cursor: pointer;
}
#storeMenu > .active {
  background-color: #bcb860;
  cursor: initial;
}
#storeMenu > .inactive {
  background-color: #939049;
}
#storeMenu > .inactive:hover {
  background-color: #bcb860;
}

#gameStatsInside {
  margin: 0;
  padding: 1em;
  white-space: nowrap;
  display: block;
  border: 3px solid #e6e6e6;
  overflow: hidden;
}
#gameStatsInside h3 {
  margin-top: 0;
}

.rowStyles {
  margin: 0.1em;
}

.listStyles {
  list-style: none;
  margin: 0 0 0.5em 0;
}

#messageBoxContainer {
  position: fixed;
  margin: 0;
  margin-bottom: 2.5em;
  padding-top: 5px;
  bottom: 0;
  width: 100vw;
  overflow: clip;
  pointer-events: none;
}

.messageBox {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  width: 12rem;
  min-height: 2rem;
  margin: 0 20px 5px auto;
  background-color: #252b25;
  color: #fffbdb;
  border: 2px solid #da7422;
  pointer-events: all;
}
.messageBox p {
  pointer-events: none;
}
.messageBox:hover {
  transform: scale(1.02);
}

#footer {
  padding: 0.5em 0;
  background-color: #252b25;
}
#footer p {
  height: 1em;
  margin: 0;
}
#footer a {
  color: #da7422;
}
#footer a:hover {
  color: #fffbdb;
}

#footerInside {
  max-width: 40em;
  margin: auto;
  padding: 0 0.5em;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 46.75em), screen and (max-device-width: 900px) {
  /* 
    Max-width is different from #main because browser default is used
  */
  #main {
    grid-template-columns: 100%;
  }
  #main #mainHead {
    text-align: center;
    grid-column: 1;
  }
  #main #mainHead #clicksCurrent {
    margin: auto;
  }
  #main #openSettingBtn {
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 10px;
    margin-right: 10px;
    height: 2em;
    width: 2em;
  }
  #main #storeContainer {
    text-align: center;
    min-height: 21em;
    margin: auto;
  }
  #main #storeContainer #storeMenu {
    justify-content: center;
  }
  #main #storeContainer #store1 div p,
#main #storeContainer #store2 div p {
    display: flex;
    flex-direction: row-reverse;
  }
  #main #gameStatsContainer {
    text-align: center;
    width: 100%;
    max-width: 20em;
    margin: auto;
  }
}
@media screen and (max-device-width: 900px) {
  #root {
    touch-action: manipulation;
  }

  #main {
    gap: 0.5em;
  }

  #footer p {
    font-size: 85%;
  }
}
html {
  box-sizing: border-box;
  font-size: 123%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  color: #fffbdb;
  user-select: none;
}

h3 {
  font-size: 1.5rem;
}

a {
  font-family: inherit;
  font-size: inherit;
  color: #da7422;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #da7422;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #30362f;
  margin: 0;
}

/*# sourceMappingURL=index.css.map */
