@forward "./components/switchStyles.scss";
@forward "./components/buttonStyles.scss";

@forward "./layouts/App.scss";
@forward "./layouts/Settings.scss";
@forward "./layouts/Store.scss";
@forward "./layouts/GameStats.scss";
@forward "./layouts/MessageContainer.scss";
@forward "./layouts/Footer.scss";

@forward "./mobile.scss";

html {
  box-sizing: border-box;
  font-size: 123%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  color: #fffbdb;
  user-select: none;
}

h3 {
  font-size: 1.5rem;
}

a {
  font-family: inherit;
  font-size: inherit;
  color: #da7422;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #fffbdb;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #30362f;
  margin: 0;
}
