.theme-original {
  --primary-color: #30362f;
  --primary-color-dark: #252b25;
  --secondary-color: #da7422;
  --secondary-color-dark: #63340e;
  --auxiliary-color: #bcb860;
  --auxiliary-color-dark: #939049;
  --color-borders: #e6e6e6;
  --color-words: #fffbdb;
  --color-words-dark: black;
}
.theme-light {
  --primary-color: #f2f2f2;
  --primary-color-dark: #d9d9d9;
  --secondary-color: #ffb366;
  --secondary-color-dark: #ffb366;
  --auxiliary-color: #bcb860;
  --auxiliary-color-dark: #939049;
  --color-borders: #1a1a1a;
  --color-words: #262626;
  --color-words-dark: #262626;
}
