#main {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 9.3em auto 1fr;

  margin: 0 auto;
  padding: 0 5px;
  max-width: 38em;
  min-height: calc(100vh - 2em);
}

#mainHead {
  grid-column: 1 / span 2;
  width: 100%;
}

#clicksCurrent {
  border: 3px solid #e6e6e6;
  width: 11em;
  white-space: nowrap;
  padding: 0.25em;
  overflow: hidden;
}

#openSettingBtn {
  margin: auto;
  margin-left: 10px;
  display: block;

  transition: 0.2s;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  filter: invert(99%) sepia(0%) saturate(6441%) hue-rotate(244deg)
    brightness(120%) contrast(80%);
}

#openSettingBtn:hover {
  transform: rotate(0.1turn);
}
#openSettingBtn::focus-visible {
  outline: auto;
}

#storeContainer {
  min-height: 22em;
  overflow: hidden;
}

#footer {
  padding: 0.5em 0;
  background-color: #252b25;
}

#footerInside {
  max-width: 40em;
  margin: auto;
  padding: 0 0.5em;
  display: flex;
  justify-content: space-between;
}

#footer p {
  height: 1em;
  margin: 0;
}

@media screen and (max-width: 46.75em), screen and (max-device-width: 900px) {
  /* 
    Max-width is different from #main because browser default is used
  */

  #main {
    grid-template-columns: 100%;
  }

  #mainHead {
    text-align: center;
    grid-column: 1;
  }

  #clicksCurrent {
    margin: auto;
  }
  #openSettingBtn {
    position: fixed;
    right: 0;
    top: 0;
    margin-top: 20px;
    margin-right: 20px;
    height: 2em;
    width: 2em;
  }

  #storeContainer {
    text-align: center;
    min-height: 21em;
    margin: auto;
  }

  #store1 div p,
  #store2 div p {
    display: flex;
    flex-direction: row-reverse;
  }

  #gameStatsContainer {
    text-align: center;
    width: 100%;
    max-width: 20em;
    margin: auto;
  }
}

@media screen and (max-device-width: 900px) {
  /* fontsize for mobile */
  #root {
    touch-action: manipulation;
  }

  #main {
    gap: 0.5em;
  }

  #footer p {
    font-size: 85%;
  }
}
