#main {
  display: grid;
  grid-template-columns: 1fr 20em 18em 1fr;
  grid-template-rows: auto 1fr auto auto;
  grid-template-areas:
    ". header header ."
    ". store stats ."
    "footer footer footer footer";

  margin: 0 auto;
  padding: 0 5px;
  min-height: inherit;
}

#mainHead {
  grid-column: 1 / span 2;
  width: 100%;
  grid-area: header;
}

#clicksCurrent {
  border: 3px solid var(--color-borders);
  width: 11em;
  white-space: nowrap;
  padding: 0.25em;
  overflow: hidden;
}

#openSettingBtn {
  margin: auto;
  margin-left: 10px;
  display: block;

  transition: 0.2s;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  filter: invert(99%) sepia(0%) saturate(6441%) hue-rotate(244deg)
    brightness(120%) contrast(80%);

  &:hover {
    transform: rotate(0.1turn);
  }
  &:focus-visible {
    outline: auto;
  }
}
