@use "../_master.scss" as m;

#main {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 9.3em auto 1fr;

  margin: 0 auto;
  padding: 0 5px;
  max-width: 38em;
  min-height: calc(100vh - 2em);
}

#mainHead {
  grid-column: 1 / span 2;
  width: 100%;
}

#clicksCurrent {
  border: 3px solid m.$color-borders;
  width: 11em;
  white-space: nowrap;
  padding: 0.25em;
  overflow: hidden;
}

#openSettingBtn {
  margin: auto;
  margin-left: 10px;
  display: block;

  transition: 0.2s;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  filter: invert(99%) sepia(0%) saturate(6441%) hue-rotate(244deg)
    brightness(120%) contrast(80%);
}

#openSettingBtn:hover {
  transform: rotate(0.1turn);
}
#openSettingBtn:focus-visible {
  outline: auto;
}
