@use "../_master.scss" as m;

#footer {
  padding: 0.5em 0;
  background-color: m.$primary-color-dark;
  grid-area: footer;
  width: 100%;

  p {
    height: 1em;
    margin: 0;
  }

  a {
    color: m.$secondary-color;

    &:hover {
      color: m.$color-words;
    }
  }
}

#footerInside {
  max-width: 40em;
  margin: auto;
  padding: 0 0.5em;
  display: flex;
  justify-content: space-between;
}
