#footer {
  padding: 0.5em 0;
  background-color: var(--primary-color-dark);
  grid-area: footer;
  width: 100%;

  p {
    height: 1em;
    margin: 0;
  }

  a {
    color: var(--secondary-color);

    &:hover {
      color: var(--color-words);
    }
  }
}

#footerInside {
  max-width: 40em;
  margin: auto;
  padding: 0 0.5em;
  display: flex;
  justify-content: space-between;
}
