@use "../_master.scss" as m;

#messageBoxContainer {
  position: fixed;

  margin: 0;
  margin-bottom: 2.5em;
  padding-top: 5px;
  bottom: 0;
  width: 100vw;

  overflow: clip;
  pointer-events: none;
}

.messageBox {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;

  width: 12rem;
  min-height: 2rem;
  margin: 0 20px 5px auto;

  background-color: m.$primary-color-dark;
  color: m.$color-words;
  border: 2px solid m.$secondary-color;

  pointer-events: all;
}

.messageBox > p {
  pointer-events: none;
}

.messageBox:hover {
  transform: scale(1.02);
}
