#storeContainer {
  min-height: 22em;
  overflow: hidden;
  grid-area: store;
}

#storeMenu {
  display: flex;
  justify-content: flex-start;

  > button {
    margin: 2px;
    font-size: 0.8em;
    border-style: none;
    min-width: 5em;
    min-height: 2.3em;
    cursor: pointer;
  }

  > .active {
    background-color: var(--auxiliary-color);
    cursor: initial;
  }

  > .inactive {
    background-color: var(--auxiliary-color-dark);

    &:hover {
      background-color: var(--auxiliary-color);
    }
  }
}
