#messageBoxContainer {
  position: fixed;

  margin: 0;
  margin-bottom: 2.5em;
  bottom: 0;
  width: 100vw;

  overflow: clip;
  pointer-events: none;
}

.messageBox {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;

  width: 10rem;
  min-height: 2rem;
  margin: 0 20px 5px auto;

  background-color: #30362f;
  color: #fffbdb;
  border: 2px solid #da7422;

  pointer-events: all;
}

.messageBox > p {
  pointer-events: none;
}
